# See http://help.github.com/ignore-files/ for more about ignoring files.

# java
.gradle/
gradle/
.idea/
build/
*.iml
gradlew
gradlew.bat

# compiled output
dist/
tmp/
src/main/resources/WEB-INF/public/

# dependencies
node_modules/
bower_components/

# misc
.sass-cache/
connect.lock/
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
public/

# todo: remove this
ember-app/