<header>
    {{#link-to 'foodDays.new'}}Add New Day{{/link-to}}
</header>
<section id="foodDaysSection">
    <ul id="foodday-list">
        {{#each}}
        <hr/>
        <li>
            <dl>
                <dt>Date</dt>
                <dd>{{#link-to 'foodDay' localDate}}{{localDate}}{{/link-to}}</dd>
                <dt>Calories</dt>
                <dd>{{calories}}</dd>
            </dl>
        </li>
        {{/each}}
        <hr/>
    </ul>
</section>