dl dt, dl dd {
    display: inline-block;
    margin-bottom: 0.5em;
}

dl dt {
    font-weight: bold;
    width: 33%;
}

dl dd {
    width: 66%;
    margin-left: 0px;
}

li {
    list-style: none;
}

dl {
    width: 50%;
}

hr {
    opacity: 0.25;
}

header {
    margin: 0.5em auto 0.5em auto;
}

header a {
    margin-right: 3em;
}