<header>
    {{#link-to 'foodDays'}}Cancel{{/link-to}}
</header>
<section id="foodDaysNewSection">
    {{date-picker type="text" id="new-foodday" placeholder="What day? (e.g. 2014-10-10)" value=newLocalDate}}
    <button {{action 'createFoodDay' target='controller'}}>Submit</button>
</section>